.cardContainer {
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
}

.card {
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  min-height: 100px;
  display: flex;
  flex-flow: row;
  align-items: stretch;
}

.reviews {
  flex-basis: 100%;
  flex-flow: column;
  background-color: #bbbbbb;
  border-color: #aaaaaa;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  flex-basis: 100%;
  margin-top: -1px;
  overflow:hidden;
  transform: translateY(-100%);
transition: .4s ease-in-out;
}

.break {
  margin: auto;
  border: none;
  background-color: #aaaaaa;
  color: #aaaaaa;
  height: 2px;
  width: 90%;
}


.fadein {
  transform: translateY(0);
}

/* .fadeout {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(auto);
  } 
  100% {
      opacity: 1;
      transform: translateY(0%);
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
      transform: translateY(0%);
  } 
  100% {
      opacity: 0;
      transform: translateY(auto);
  }
} */


@media only screen and (max-width: 768px) {
  .card {
    flex-wrap: wrap;
  }
}