.carousel {
  background-color: #e5e5e5;
  border-right: 1px solid #aaaaaa;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  min-width: 300px;
  min-height: 240px;
  flex-grow: 1;
}
