.carousel {
  background-color: #e5e5e5;
  border-right: 1px solid #aaaaaa;
  position: relative;
  display: block;
  overflow: hidden;
}

@media (min-width: 768px) {
  .carousel {
    flex: 0 0 315px;
    height: 236px;
  }
}

@media (min-width: 1088px) {
  .carousel {
    flex: 0 0 420px;
    height: 315px;
  }
}